</main>
<footer class="container mt-3 ">
  <div class="row justify-content-between align-items-center py-3 my-4 border-top" 
  style="border-top: 1px gray solid; padding-top: 3em; padding-bottom: 3em; margin-top: 3em;">
    <div class="col-md-3">Main Street Theatre Company</div>
    <div class="col-md-3">70 Route 516, Old Bridge, New Jersey</div>
    <div class="col-md-3"><a href="https://mainstreettheatrecompany.org">mainstreettheatrecompany.org</a></div>
    <div class="col-md-3">Ticketing system powered by Arts People</div>
  </div>
</footer>

<script src="https://mortoneer.github.io/main-street-theatre-company/arts-people/js/scripts.js"></script>