<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Tickets | Main Street Theatre Company</title>
<link rel="stylesheet" href="https://mortoneer.github.io/main-street-theatre-company/arts-people/css/style.css?v=2.0.1">

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-THJK1TWQ8B"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-THJK1TWQ8B');
</script>