<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tickets | Main Street Theatre Company</title>
  <style>
    img.image_user {
      max-width: 200px;
    }
    #public_page_form > table, table.page_public {
      width: 100%;
    }
    a[data-show] {
      min-width: 115px;
    }
    .show_image_div {
      display: none;
    }
    @media screen and (min-width: 1000px) {
      .show_image_div {
        display: block;
      }
    }

    .show_text_div {
      margin: 3em;
    }

    #front_page_text {
      display: none;
    }
  </style>