<header class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col-sm-4 col-md-6 col-lg-5 text-center">
      <img src="https://app.arts-people.com/uploads/1620/mainstreetlogo.png" alt="Main Street Logo"
        style="width: 100%; max-width: 260px;">
    </div>
    <div class="col-md-5 p-5 text-center" style="margin-top: 50px;">
      <h1>Main Street Theatre Company</h1>
      <div data-mortoneer-html-load="https://mortoneer.github.io/main-street-theatre-company/arts-people/partials/header-right-message.html">&nbsp;</div>
    </div>
  </div>
  <div data-mortoneer-html-load="https://mortoneer.github.io/main-street-theatre-company/arts-people/partials/header-message.html">&nbsp;</div>
</header>
<main class="container" style="margin-top: 15px;">