<div class="alert alert-info" role="alert" style="display: none;">We can't wait to see you at our <a class="really-visible-link" href="https://app.arts-people.com/index.php?ticketing=mnstr">next performance</a>!</div>

<ul class="nav nav-pills">
  <li role="presentation"><a href="https://mainstreettheatrecompany.org">Home</a></li>
  <li role="presentation"><a href="https://app.arts-people.com/index.php?ticketing=mnstr">Show Tickets</a></li>
  <li role="presentation" style="display: none;"><a href="https://app.arts-people.com/index.php?retail=mnstr">Tricky Tray</a></li>
</ul>