<div class="alert alert-info" role="alert">
  We've made some exciting updates to the Main Street Academy. 
  Head over to the <a class="really-visible-link" href="https://www.mainstreettheatrecompany.org/main-street-academy"
  >Main Street Academy information</a> site to see how we split up our the courses for the Spring 2022 semester!
</div>

<ul class="nav nav-pills">
  <li role="presentation"><a href="https://mainstreettheatrecompany.org">Home</a></li>
  <li role="presentation"><a href="https://app.arts-people.com/index.php?ticketing=mnstr">Show Tickets</a></li>
  <li role="presentation"><a href="https://app.arts-people.com/index.php?retail=mnstr">Main Street Academy</a></li>
</ul>