<div class="alert alert-info" role="alert">Tickets for the Tricky Tray on November 19, 2021 are <a class="really-visible-link" href="https://app.arts-people.com/index.php?retail=mnstr">on sale now</a>! Come support the theatre and win prizes.</div>

<ul class="nav nav-pills">
  <li role="presentation"><a href="https://mainstreettheatrecompany.org">Home</a></li>
  <li role="presentation"><a href="https://app.arts-people.com/index.php?ticketing=mnstr">Show Tickets</a></li>
  <li role="presentation"><a href="https://app.arts-people.com/index.php?retail=mnstr">Tricky Tray</a></li>
</ul>